@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700");
.markup-synapse-card {
  margin-top: 100px;
}

.SRC-facets.SRC-primary-background-hover strong {
  padding: 0px 10px;
}
.SRC-facets.SRC-primary-background-hover svg {
  margin: 0px 10px;
}

body, button, h1, h2, h3, h4, h5, li, ul, p, a {
  font-family: sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

section {
  font-family: "Lato", sans-serif;
}

section .container, footer .container, header .container, div.main .container {
  max-width: 1195px;
}

div.row.amp-ad {
  max-width: 100%;
  margin: 0px;
}

body.noScroll, html.noScroll {
  overflow-y: hidden;
  margin: 0;
  height: 100%;
}

.bar-loader {
  width: 50px;
  margin: 20px auto;
  padding: 10px;
}

#root .main {
  min-height: calc(100vh - 136px);
}
#root section div.row {
  margin: 0px auto;
}
#root section {
  padding: 25px 50px;
}
#root section.child-page-hero {
  padding-top: 80px;
}
#root h1 {
  font-size: 30px;
}
#root h2 {
  font-size: 21px;
  text-transform: uppercase;
}
#root h3 {
  font-weight: 300;
}
#root h5 {
  font-size: 18;
  font-weight: 400;
  text-transform: uppercase;
}
#root p {
  font-size: 12px;
}
#root a {
  text-decoration: none;
  font-size: 16px;
}
#root li {
  list-style: none;
}
#root ul.jumbo-list {
  position: relative;
}
#root ul.jumbo-list li {
  list-style: none;
}
#root ul.jumbo-list a {
  position: relative;
}
#root button {
  padding: 0px 10px;
  transition: all 400ms;
  border: none;
}
#root button.btn-default {
  border-radius: 24px;
}
#root button.btn-control {
  border-radius: 16px;
  min-height: 53px;
  min-width: 143px;
  margin: 10px 5px;
}
#root button.btn-control h5 {
  color: white;
}
#root button.btn-basic {
  background-color: #DFDFDF;
  height: 41px;
  min-width: 130px;
  border-radius: 24px;
}
#root button.btn-basic h5 {
  color: black;
  font-size: 16px;
}
#root button:focus, #root input:focus, #root select:focus, #root div:focus {
  outline: none;
}
#root button:hover, #root select:hover {
  cursor: pointer;
}
#root .flex {
  display: flex;
}
#root .justify-end {
  justify-content: flex-end;
}
#root .justify-start {
  justify-content: flex-start;
}
#root .container {
  width: 100%;
}
#root table {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 100px;
  border-collapse: collapse;
  max-width: 100%;
  display: inline-block;
}
#root table thead {
  background-color: #fff;
  border-top: 1px solid #E6E6E8;
  font-size: 18px;
}
#root table thead tr:first-child {
  background: #fff;
}
#root table tr:nth-child(even) {
  background: #FFF;
}
#root table tr:nth-child(odd) {
  background: #F5F5F5;
}
#root table tr {
  padding: 10px;
}
#root table th, #root table td {
  text-align: left;
}
#root table th {
  font-weight: 400;
  border: 0px;
  padding: 15px 0px 15px 15px;
}
#root table td {
  padding: 15px;
  font-weight: 400;
  color: #1A1C29;
}
#root table td a {
  text-decoration: underline;
  font-weight: 400;
}
#root table.markdowntable {
  border-left: unset;
  border-right: unset;
  border-bottom: unset;
  border-collapse: collapse;
  border-left: unset;
  margin: unset;
}
#root table.markdowntable th {
  border-left: unset;
  border-top: unset;
  padding: unset;
}
#root table.markdowntable td {
  border-left: 0px solid #dddddd;
  border-top: 0px solid #dddddd;
  padding: 14px;
}
#root table.markdowntable tbody:first-child tr:first-child td:first-child {
  border-top-left-radius: 0px;
}
#root table.markdowntable .btn {
  height: 100%;
}
#root span.jumbo {
  font-size: 42px;
  height: 50px;
  position: absolute;
  display: inline-block;
  margin: auto;
  top: 20px;
  left: -50px;
  bottom: 0;
  right: 0;
}
#root select {
  font-size: 18px;
}
#root header li {
  height: 100%;
  flex-direction: row;
  align-items: center;
}
#root header a {
  color: white;
  text-decoration: none;
}
#root header.header {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 0px;
  background-color: #4DB7AD;
  z-index: 1000;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1023px) {
  #root header.header {
    max-height: fit-content;
  }
}
#root header.header .burger-menu {
  background: #666666;
}
@media screen and (min-width: 720px) {
  #root header.header .bm-burger-button {
    display: none;
  }
}
#root header.header .bm-item-list {
  display: flex;
  flex-direction: column;
}
#root header.header .bm-item-list a {
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 300;
}
#root header.header .bm-item-list .inset {
  padding-left: 25px;
}
#root header.header .bm-item-list h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}
#root header.header .nav li, #root header.header .nav li a {
  text-transform: uppercase;
  font-weight: bold;
}
#root header.header .nav > li > a:hover, #root header.header .nav > li > a:focus, #root header.header a:hover {
  background-color: unset;
  text-decoration: none;
  color: white;
}
#root header.header .logo a {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  letter-spacing: 2px;
  font-weight: bolder;
}
@media screen and (max-width: 720px) {
  #root header.header .logo {
    padding: 30px 0px;
  }
}
#root header.header img {
  transition: all 200ms ease;
  max-height: 49px;
}
#root header.header .Dropdown-control {
  height: 37px;
  padding-top: 0px;
  padding-right: 44px;
  text-align: left;
  border: none;
  padding-left: 0px;
}
#root header.header .Dropdown-control {
  box-shadow: none;
}
#root header.header .Dropdown-control:hover {
  box-shadow: none;
}
#root header.header .Dropdown-menu {
  width: 250px;
  right: 10px;
}
#root header.header .Dropdown-arrow {
  top: 7px;
}
#root header.header li .Dropdown-root .Dropdown-control div.Dropdown-placeholder {
  cursor: pointer;
}
#root header.header .Dropdown-arrow {
  cursor: pointer;
}
#root .hidden {
  display: none !important;
  height: 0px;
  width: 0px;
}
#root header .nav-buttons {
  height: 100%;
}
@media screen and (max-width: 720px) {
  #root header .nav-buttons {
    display: none;
  }
}
#root header .nav-buttons nav.row {
  padding: 0px;
}
#root header .menu-wall {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 900;
  left: 0;
  top: 0;
  background: transparent;
  border: none;
}
#root header .accordion {
  text-align: left;
  cursor: pointer;
  border: none;
  height: 100%;
}
@media screen and (max-width: 720px) {
  #root header .accordion {
    height: 150px;
  }
  #root header .accordion .nav-item.main-nav-item {
    padding: unset;
  }
}
#root header .accordion .accordion-row {
  margin: 0px;
  display: block;
}
#root header .accordion .accordion-sub-row {
  padding: 0px 15px;
}
#root header .accordion ul {
  padding: 0px;
  margin: 0px;
}
#root header .accordion .accordion__title {
  width: 100%;
  margin: -1px 0px;
  padding: 15px 0px;
}
#root header .accordion .accordion__title .row {
  padding-left: 10px;
}
#root header .accordion .accordion__title.link, #root header .accordion .about-dropdown .accordion__title {
  padding: 0px;
}
#root header .accordion-title.top-level-accordion {
  padding: 0px;
  font-weight: 500;
  font-size: 20px;
  border: none;
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}
#root header .nav .accordion__body {
  padding: 0px;
  width: 100%;
}
#root header .nav .accordion__body ul {
  width: 100%;
}
#root header .nav .accordion__body li {
  margin: 0px;
  padding: 10px;
  padding-left: 0px;
}
#root header .nav .accordion__body li a.nav-item.dropdown {
  padding: 10px 20px;
  width: 100%;
  font-size: 15px;
}
#root header .accordion-body.top-level-accordion {
  position: absolute;
  display: block;
  z-index: 1000;
  margin-top: 0px;
  margin-left: auto;
  min-width: 230px;
  max-width: 400px;
}
#root header .about-dropdown {
  margin-right: 15px;
}
#root header .accordion__body {
  text-align: left;
}
#root header a.nav-item {
  padding: 14px 40px;
}
#root header .accordion__title {
  background-color: #4DB7AD;
}
@media screen and (max-width: 720px) {
  #root header .accordion__title {
    background-color: unset;
  }
}
#root header .accordion-title[aria-selected=true], #root header .accordion-title[aria-selected=true] a {
  background-color: transparent;
}
#root header .accordion-title.top-level-accordion[aria-selected=true] .under-bar {
  opacity: 0;
}
#root header .accordion-sub-title, #root header .about-dropdown .accordion-sub-title .nav-item {
  padding-left: 12px;
  font-size: 15px;
  width: 100%;
}
#root header .accordion-sub-title a, #root header .accordion-sub-title a.nav-item.dropdown, #root header .about-dropdown .accordion-sub-title .nav-item a, #root header .about-dropdown .accordion-sub-title .nav-item a.nav-item.dropdown {
  width: 100%;
  padding: 15px;
  display: inline-block;
}
#root header .accordion-body[aria-hidden=true] {
  display: none;
}
#root header .accordion__title:hover {
  background-color: #cacaca;
}
@media only screen and (min-width: 48em) {
  #root .col-sm-9 {
    flex-basis: 80%;
    max-width: 80%;
  }
}
#root .child-page-hero a, #root .welcome a {
  color: white;
  text-decoration: underline;
}
#root .loading-bar {
  min-height: 10px;
}
#root .front-page-bar {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#root .front-page-bar div {
  display: flex;
}
#root .align-right {
  text-align: right;
}
#root .content-width {
  max-width: fit-content;
}
#root .Dropdown-control {
  border: none;
  box-shadow: 0px 1px 5px 0px #c7c5c5;
  max-height: fit-content;
}
#root .Dropdown-arrow {
  border-color: #4DB7AD transparent transparent !important;
  border-width: 8px 8px 0;
}
#root .thin-large {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 2px;
}
#root .pie-list-item, #root .pop-list-item {
  font-size: 18px;
  font-weight: 400;
  color: #5A478F;
  text-decoration: underline;
  text-align: left;
}
#root .btn-cst {
  color: #1A1C29;
  font-size: 20px;
  font-weight: 600;
  background-color: #4DB7AD;
  border: none;
  border-radius: 36px;
  width: 192px;
  height: 52px;
  transition: all 0.3s ease-in-out;
}
#root .btn-cst:hover {
  background-color: #C7D6FF;
}
#root .btn-lg {
  text-decoration: none;
  display: block;
  width: 100%;
  max-width: 300px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}
#root .btn-light {
  color: #1A1C29;
  font-size: 20px;
  font-weight: 600;
  background-color: #EDEDED;
  border: none;
  border-radius: 24px;
  width: fit-content;
  height: 48px;
  padding: 0px 20px;
  transition: all 0.3s ease-in-out;
}
#root .btn-light:hover {
  background-color: #f5f5f5;
}
#root .btn-light:active {
  background-color: #E3E1E1;
}
#root .btn-light-small {
  color: #1A1C29;
  font-size: 16px;
  font-weight: 600;
  background-color: #EDEDED;
  border: none;
  text-align: center;
  border-radius: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: 65px;
  height: 28px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#root .nav-row {
  height: 70px;
}
#root .nav {
  position: relative;
  z-index: 900;
  height: 100%;
  padding: 0px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
#root .nav li:hover {
  cursor: pointer;
}
#root .nav li {
  list-style: none;
  position: relative;
  display: flex;
}
#root .nav .nav-item {
  font-size: 16px;
}
#root .nav .nav-item.dropdown {
  display: inline-block;
  padding: 0px;
}
#root .nav .Dropdown-control {
  font-size: 20px;
}
#root .nav a.nav-item.active {
  font-weight: bold;
}
#root .nav .top-level-accordion-item {
  height: 100%;
}
#root .nav .top-level-accordion-item.active a.main-nav-item {
  font-weight: bold;
  position: relative;
}
#root .nav div.under-bar {
  position: absolute;
  background-color: #4A5E81;
  height: 5px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 300ms ease;
}
#root .nav li:hover div.under-bar {
  opacity: 1;
}
#root .nav div.under-bar.active {
  opacity: 1;
}
#root .nav div.side-bar {
  background-color: #4DB7AD;
}
#root .title-row {
  padding: 20px 0px;
}
#root .title-row a {
  color: #4DB7AD;
  text-decoration: underline;
}
#root .content {
  margin: 0px auto;
}
#root footer {
  background-color: #4DB7AD;
  color: white;
  height: 56px;
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-bottom: 56px;
  padding-top: 30px;
  display: flex;
}
#root footer a {
  color: #ffffff;
  margin: 10px;
  display: inline-block;
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-transform: uppercase;
}
#root footer .right-footer a:first-child {
  margin-right: 15px;
}
#root section.page {
  margin-top: 50px;
}
#root .SRC-portalCard {
  margin: 30px 0px;
}
#root section.hero {
  position: relative;
  margin-top: 35px;
  height: 400px;
  background: linear-gradient(to right, #109488, #05635B);
}
#root section.hero p, #root section.hero h1 {
  color: white;
}
#root section.hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 20px;
}
#root section.hero .hero-message div {
  background-color: #ffffff10;
  margin-bottom: 30px;
}
#root section.hero .hero-background {
  background-image: url("../images/molecules-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  bottom: 0;
}
#root section.hero .hero-background:before {
  filter: blur(5px);
}
#root section.explore-content .col-xs-2, #root div.explore-content .col-xs-2 {
  margin-top: 18px;
}
#root section.explore-content .container .container-fluid, #root div.explore-content .container .container-fluid {
  padding: 0px;
}
#root section.explore-content .container .container-fluid .col-xs-12, #root div.explore-content .container .container-fluid .col-xs-12 {
  padding: 0px;
}
#root section.explore-content .selectors-container, #root div.explore-content .selectors-container {
  max-width: 850px;
}
#root section.explore-content .selectors, #root div.explore-content .selectors {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 20px 0px;
}
@media screen and (max-width: 720px) {
  #root section.explore-content .selectors, #root div.explore-content .selectors {
    flex-direction: column;
  }
}
#root section.explore-content .selectors button, #root div.explore-content .selectors button {
  position: relative;
}
#root section.explore-content .selectors button:first-child, #root div.explore-content .selectors button:first-child {
  display: none;
  background: #437C9E;
}
#root section.explore-content .selectors button:first-child.active, #root div.explore-content .selectors button:first-child.active {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
#root section.explore-content .selectors button:first-child.active::after, #root div.explore-content .selectors button:first-child.active::after {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: -12px;
  z-index: 100;
  display: block;
  content: "";
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 12px solid #437C9E;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 400ms;
}
#root section.explore-content .selectors button:first-child.active:hover:after, #root div.explore-content .selectors button:first-child.active:hover:after {
  transition: all 400ms;
}
#root section.explore-content .selectors button:nth-child(2), #root div.explore-content .selectors button:nth-child(2) {
  background: #2A4688;
}
#root section.explore-content .selectors button:nth-child(2).active, #root div.explore-content .selectors button:nth-child(2).active {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
#root section.explore-content .selectors button:nth-child(2).active::after, #root div.explore-content .selectors button:nth-child(2).active::after {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: -12px;
  z-index: 100;
  display: block;
  content: "";
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 12px solid #2A4688;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 400ms;
}
#root section.explore-content .selectors button:nth-child(2).active:hover:after, #root div.explore-content .selectors button:nth-child(2).active:hover:after {
  transition: all 400ms;
}
#root section.explore-content .selectors button:nth-child(3), #root div.explore-content .selectors button:nth-child(3) {
  background: #5BA05B;
}
#root section.explore-content .selectors button:nth-child(3).active, #root div.explore-content .selectors button:nth-child(3).active {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
#root section.explore-content .selectors button:nth-child(3).active::after, #root div.explore-content .selectors button:nth-child(3).active::after {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: -12px;
  z-index: 100;
  display: block;
  content: "";
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 12px solid #5BA05B;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 400ms;
}
#root section.explore-content .selectors button:nth-child(3).active:hover:after, #root div.explore-content .selectors button:nth-child(3).active:hover:after {
  transition: all 400ms;
}
#root section.explore-content .selectors button:nth-child(4), #root div.explore-content .selectors button:nth-child(4) {
  background: #1D9488;
}
#root section.explore-content .selectors button:nth-child(4).active, #root div.explore-content .selectors button:nth-child(4).active {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
#root section.explore-content .selectors button:nth-child(4).active::after, #root div.explore-content .selectors button:nth-child(4).active::after {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: -12px;
  z-index: 100;
  display: block;
  content: "";
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 12px solid #1D9488;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 400ms;
}
#root section.explore-content .selectors button:nth-child(4).active:hover:after, #root div.explore-content .selectors button:nth-child(4).active:hover:after {
  transition: all 400ms;
}
#root section.explore-content .selectors button:nth-child(5), #root div.explore-content .selectors button:nth-child(5) {
  display: none;
  background: #5FB0B4;
}
#root section.explore-content .selectors button:nth-child(5).active, #root div.explore-content .selectors button:nth-child(5).active {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
#root section.explore-content .selectors button:nth-child(5).active::after, #root div.explore-content .selectors button:nth-child(5).active::after {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: -12px;
  z-index: 100;
  display: block;
  content: "";
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 12px solid #5FB0B4;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 400ms;
}
#root section.explore-content .selectors button:nth-child(5).active:hover:after, #root div.explore-content .selectors button:nth-child(5).active:hover:after {
  transition: all 400ms;
}
#root section.explore-content .selectors button:nth-child(6), #root div.explore-content .selectors button:nth-child(6) {
  background: #DC9931;
}
#root section.explore-content .selectors button:nth-child(6).active, #root div.explore-content .selectors button:nth-child(6).active {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
#root section.explore-content .selectors button:nth-child(6).active::after, #root div.explore-content .selectors button:nth-child(6).active::after {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: -12px;
  z-index: 100;
  display: block;
  content: "";
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 12px solid #DC9931;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 400ms;
}
#root section.explore-content .selectors button:nth-child(6).active:hover:after, #root div.explore-content .selectors button:nth-child(6).active:hover:after {
  transition: all 400ms;
}
#root .about section {
  text-align: left;
}
#root .about p {
  font-size: 16px;
}
#root section.about-section-content {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}
#root section.about-section-content .program-row {
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 30px;
}
#root .expand-section {
  height: fit-content;
  margin-bottom: inherit;
}
#root .expand-section.hide {
  margin-bottom: -10px;
}
#root input[type=checkbox] {
  visibility: hidden;
}
#root .expand-icon {
  height: 50px;
  width: 50px;
  max-width: 65px;
  position: relative;
  top: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
#root .expand-icon.plus {
  background-image: url(../images/plus-icon.svg);
}
#root .expand-icon.minus {
  background-image: url(../images/minus-icon.svg);
}
#root .expand-icon:hover {
  cursor: pointer;
}
#root .content {
  overflow-y: hidden;
  transition: max-height 1s ease-out;
  max-height: fit-content;
  height: auto;
}
#root .content.hide {
  max-height: 160px;
}
#root .modal-container {
  width: 80%;
  position: relative;
  margin: 0px auto;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0px;
}
#root .modal-container table {
  box-shadow: 0px 2px 1.5px rgba(0, 0, 0, 0.35);
}
#root .modal-x {
  background-image: url(../images/modalX.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 1100;
  top: 9px;
  left: 9px;
}
#root .modal-x:hover {
  cursor: pointer;
}
#root .modal-x-background-circle {
  background-color: white;
  width: 48px;
  height: 48px;
  position: relative;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  z-index: 1000;
  top: 20px;
  right: 30px;
  box-shadow: 0px 2px 1.5px rgba(0, 0, 0, 0.35);
}
#root .modal-x-background-circle:hover {
  cursor: pointer;
}
#root section.organizations {
  margin-top: 35px;
}
@media screen and (max-width: 480px) {
  #root header.header img {
    max-height: 50px;
  }
  #root .main {
    margin-top: 305px;
  }
  #root ul.nav {
    flex-direction: column;
    text-align: left;
  }
  #root ul.nav li {
    margin: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
